<h1>About</h1>
<p>This app is created for the yoga studio, Prague Yoga Collective. Here you (maybe?? eventually???) will be able to learn more about the different styles the studio offers, the various teachers, buy various passes, and schedule your next class.</p>
