<div>
  <h1>About</h1>
  <p>Prague Yoga Collective was created by Betti Rompos, Lisa Wakenshaw and Alex Rodoni to bring the Yogis and of Prague together.
    We are offering strong, quality yoga classes in English that are open to anyone with an interest in the practice; old and young, beginner to advanced.
    <br><br>
    We teach under PYC all around the city of Prague, and in our own, brand new space on Rejskova 2, Prague 2. We warmly invite you to come along for a class, either in our space or in any of the studios around town where we teach. You can always be sure to find a great class, taught by a passionate teacher!
    <br><br>
    See you on the mat!
    <br><br>
    x
    <br><br>
    Lisa, Alex & Betti</p>
  </div>
