<table>
  <tbody>
    <tr>
      <td><h2>Thank you!</h2></td>
    </tr>
    <tr>
      <td><p>Your order has been received.</p></td>
    </tr>
    <tr>
      <td><p><strong>Cheers!</p></td>
    </tr>
    <tr>
      <td><p><strong> ~ <%= @appname %></strong></p></td>
    </tr>
  </tbody>
</table>
