<div class="container">
  <h3>Order Information</h3>
  <p><strong>Order ID:</strong> <%= @order.id %> </p>
  <p><strong>Product Name: </strong> <%= @order.product.name %> </p>
  <p><strong>Product Price: </strong> <%= @order.product.price.to_i %> Kč </p>
  <p><strong>Total Price: </strong> <%= @order.total.to_i %> Kč </p>
</div>
