/*** Navigation ***/
nav a {
  color: black;
  margin: .75rem;
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
}
 li {
   display: inline;
 }




/*** Body ***/
 h1 {
   font-family: Poppins bold, Arial Semi bold, sans-serif;
   font-size: 3rem;
   margin: 3rem 1rem 1rem 1rem;
 }

 p {
   font-family: Poppins, Arial, sans-serif;
   font-size: 1.5rem;
   margin: 1rem;
 }

footer {
  margin: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
