/*** Navigation ***/
nav a {
  text-decoration: none;
  font-family: Arial light, sans-serif;
  font-size: 1.5em;
  margin: 1.5rem;
  display: inline-block;
  float: right;
  margin: .75rem;
  color: white;
}

nav a:hover {
  color: white;
  text-decoration: none;
  -webkit-transition: color 250ms;
  background: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100% !important;
  height: 2.5rem;
  background: purple;
}

/*** Body ***/
@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 601px) {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
  }
}

body {
  margin: 0;
  padding: 0;
}

 h1 {
   font-family: Poppins, Arial Semi bold, sans-serif;
   text-align: center;
   margin-top: 3rem;
   line-height: normal;
 }

 p {
   font-family: Poppins, Arial, sans-serif;
   margin: 1.5rem;
   text-align: center;
   line-height: 2rem;
 }

 .center {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

footer {
  margin: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
