<% if signed_in? %>
  <h3>Add a review:</h3>
  <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
    <p>
      <%= f.text_area :body, :cols => 45, :rows => 5, :id => "comment_box" %>
    </p>
    <p>
      <div class="rating" align="center"></div>
    </p>
    <p>
      <%= f.submit "Submit" %>
    </p>
  <% end %>
<% end %>
