<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <%= render @products %>
    <% end %>
  </div>
</div>

<br>

<div class="New_Product">
  <h2><strong><%= link_to 'New Product', new_product_path %></strong></h2>
</div>
